# Ejercicio - KMedias

In [2]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from category_encoders import OneHotEncoder

pelis = pd.read_csv("./data/movies.csv")
pelis = pelis[pelis.genero.notnull()]

# mantenemos el genero de las peliculas como una lista aparte
genero_peliculas = pelis.genero.values
n_generos = len(pelis.genero.unique())



pelis = pelis.drop("genero", axis=1)
pelis = OneHotEncoder().fit_transform(pelis)

pelis.head()

,presupuesto,lenguaje_1,lenguaje_2,lenguaje_3,lenguaje_4,lenguaje_5,lenguaje_6,lenguaje_7,lenguaje_8,lenguaje_9,...,titulo_1271,titulo_1272,titulo_1273,titulo_1274,titulo_1275,titulo_1276,titulo_1277,titulo_1278,puntuacion,n_votos
0,NaN,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5.7,173.0
1,NaN,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6.7,13.0
2,3500000.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,7.0,513.0
3,NaN,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6.0,124.0
4,12000000.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6.5,767.0

In [3]:
genero_peliculas

array(['Comedy', 'Drama', 'Comedy', ..., 'Documentary', 'Horror',
       'Horror'], dtype=object)

In [4]:
n_generos

17

Vemos que hay 17 géneros de películas

Imputamos los valores inexistentes

In [5]:
X = SimpleImputer(strategy="mean").fit_transform(pelis)

### Hacer un estimador KMedias con número de clusters igual al número de géneros. Entrenar con el dataset pelis y calcular el cluster asignado a cada película

In [9]:
from sklearn.cluster import KMeans

In [21]:
estimador_kmedias = KMeans(random_state=42, n_clusters=n_generos)
# estimador_kmedias.fit_predict(X)
estimador_kmedias.fit(X)

KMeans(n_clusters=17, random_state=42)

In [22]:
clusters = estimador_kmedias.labels_
pelis["clusters"] = clusters
pelis.head()

,presupuesto,lenguaje_1,lenguaje_2,lenguaje_3,lenguaje_4,lenguaje_5,lenguaje_6,lenguaje_7,lenguaje_8,lenguaje_9,...,titulo_1272,titulo_1273,titulo_1274,titulo_1275,titulo_1276,titulo_1277,titulo_1278,puntuacion,n_votos,clusters
0,NaN,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,5.7,173.0,8
1,NaN,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,6.7,13.0,6
2,3500000.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,7.0,513.0,14
3,NaN,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,6.0,124.0,6
4,12000000.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,6.5,767.0,5

### Calcular el coeficiente de silueta

In [23]:
from sklearn.metrics import silhouette_score

silhouette_score(X, clusters)

0.5485833516053019

### Calcular el Indice de Rand ajustado (`adjusted_rand_score`) usando los generos como clusters naturales

In [24]:
from sklearn.metrics import adjusted_rand_score

adjusted_rand_score(genero_peliculas, clusters)

0.00917110847109842