In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from sklearn import linear_model

# Cofiguraciones
%matplotlib inline
plt.rcParams['figure.figsize'] = (10,10)

# Ejercicio - Regresión lineal
Para prácticar el Análisis Exploratorio de Datos, vamos a usar una versión modificada del dataset The Movies Dataset que contiene información sobre películas, información relacionada con el éxito de dichas películas en cuanto a popularidad y venta de entradas.

El dataset se encuentra en el archivo data/movies.csv, y consta de las siguientes columnas:

    belongs_to_collection (franquicia): Nombre de la franquicia a la cual pertenece la película.
    budget (presupuesto): Presupuesto de la película en dólares.
    genres (genero): Género de la pelicula.
    homepage (pagina_web): Página Web oficial de la película.
    imdb_id: ID de la película en IMDB.
    original_language (lenguaje): El lenguage original en el que se rodó la película.
    overview: Descripción de la película.
    popularity (popularidad): Puntuación de Popularidad.
    poster_path (poster): url del poster de la película
    production_companies (productores): Lista de compañias que produjeron la pelicula
    production_countries (pais): Pais de produccion de la película
    release_date (fecha_estreno): Fecha del estreno  de la película
    revenue (ventas): Ventas de entradas en dólares de la película.
    runtime (duracion): Duración en minutos de la película.
    status (estado): Estado de la película (estrenada, en producción, etc).
    tagline: Frase descriptiva de la película.
    title (titulo): Título de la película.
    vote_average (puntuacion): Puntuación media de la película.
    vote_count (n_votos): Número de votos.
Para este ejercicio la variable objetivo es las ventas en taquilla de la película (la columna venta)

In [2]:
peliculas = pd.read_csv("./Data/movies.csv")
peliculas.head()

,presupuesto,genero,lenguaje,popularidad,productores,pais,ventas,duracion,titulo,puntuacion,n_votos
0,NaN,Comedy,en,8.387519,Sandollar Productions,United States of America,76578911.0,106.0,Father of the Bride Part II,5.7,173.0
1,NaN,Drama,en,0.894647,Miramax,South Africa,676525.0,106.0,"Cry, the Beloved Country",6.7,13.0
2,3500000.0,Comedy,en,14.569650,New Line Cinema,United States of America,28215918.0,91.0,Friday,7.0,513.0
3,NaN,Comedy,en,8.963037,Paramount Pictures,United States of America,32.0,87.0,Black Sheep,6.0,124.0
4,12000000.0,Comedy,en,9.592265,Universal Pictures,United States of America,41205099.0,92.0,Happy Gilmore,6.5,767.0

## Seleccionar las columnas numéricas sólo. Eliminar los valores nulos y reemplazarlos con 0
(pista, usar los metodos select_dtypes y fillna)

In [3]:
peliculas.dtypes

presupuesto    float64
genero          object
lenguaje        object
popularidad    float64
productores     object
pais            object
ventas         float64
duracion       float64
titulo          object
puntuacion     float64
n_votos        float64
dtype: object

In [9]:
colNumericas = peliculas.select_dtypes(["float64"])
colNumericas.head()

   presupuesto  popularidad      ventas  duracion  puntuacion  n_votos
0          NaN     8.387519  76578911.0     106.0         5.7    173.0
1          NaN     0.894647    676525.0     106.0         6.7     13.0
2    3500000.0    14.569650  28215918.0      91.0         7.0    513.0
3          NaN     8.963037        32.0      87.0         6.0    124.0
4   12000000.0     9.592265  41205099.0      92.0         6.5    767.0

In [28]:
colNumericas = colNumericas.fillna(0)
colNumericas.head()

   presupuesto  popularidad      ventas  duracion  puntuacion  n_votos
0          0.0     8.387519  76578911.0     106.0         5.7    173.0
1          0.0     0.894647    676525.0     106.0         6.7     13.0
2    3500000.0    14.569650  28215918.0      91.0         7.0    513.0
3          0.0     8.963037        32.0      87.0         6.0    124.0
4   12000000.0     9.592265  41205099.0      92.0         6.5    767.0

In [29]:
colNumericas.dtypes

presupuesto    float64
popularidad    float64
ventas         float64
duracion       float64
puntuacion     float64
n_votos        float64
dtype: object

## Crear un modelo de regresion lineal (con scikit-learn) y entrenarlo en el dataset numéricos. La variable objetivo es ventas
## Asignar una columna nueva con las predicciones al dataset original llamada ventas_pred

In [30]:
variable_dependiente_objetivo = "ventas"
variables_independientes = colNumericas.drop(columns=variable_dependiente_objetivo).columns

In [31]:
variable_dependiente_objetivo

'ventas'

In [32]:
variables_independientes

Index(['presupuesto', 'popularidad', 'duracion', 'puntuacion', 'n_votos'], dtype='object')

In [23]:
regresionLineal = linear_model.LinearRegression()

In [34]:
regresionLineal.fit(X=colNumericas[variables_independientes], y=colNumericas[variable_dependiente_objetivo])

LinearRegression()

In [36]:
peliculas["ventas_pred"] = regresionLineal.predict(X=colNumericas[variables_independientes])
peliculas.head()

,presupuesto,genero,lenguaje,popularidad,productores,pais,ventas,duracion,titulo,puntuacion,n_votos,ventas_pred
0,NaN,Comedy,en,8.387519,Sandollar Productions,United States of America,76578911.0,106.0,Father of the Bride Part II,5.7,173.0,1.352122e+07
1,NaN,Drama,en,0.894647,Miramax,South Africa,676525.0,106.0,"Cry, the Beloved Country",6.7,13.0,5.540693e+06
2,3500000.0,Comedy,en,14.569650,New Line Cinema,United States of America,28215918.0,91.0,Friday,7.0,513.0,3.880971e+07
3,NaN,Comedy,en,8.963037,Paramount Pictures,United States of America,32.0,87.0,Black Sheep,6.0,124.0,9.363451e+06
4,12000000.0,Comedy,en,9.592265,Universal Pictures,United States of America,41205099.0,92.0,Happy Gilmore,6.5,767.0,6.740012e+07